<p>Saves you shekels by comparing the various ridesharing services and helps you avoid Uber's Surge.</p>

<br>

<p>For all of the poor people of the world living amongst the richest 1% of the world.</p>
<br>
<p>For the bottom 50% of the top 10% living amonst the top 1% of the richest people on the planet</p>
<br>
<p>Made under 30 hours by Brian Lee and Ha Min Ko for a Horizons Hackathon</p>
