html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
  min-height: 75rem;
  padding-top: 6.5rem;
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
}

.map-marker-label {
   position: absolute;
   color: blue;
   /*font-size: 16px;*/
   font-weight: bold;
   /*text-align: center;*/
}
