html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.parent {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  width: 100%
}
